.container {
  padding: 16px;
  margin: 0 auto;
}
.title {
  margin-bottom: 32px;
  font-size: 48px;
  text-align: center;
  color: var(--title-color);
}
.list {
  align-items: center;
  justify-content: center;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}
